{% extends 'base.html' %}
{% block content %}
<h3>Edit item</h3>
<form method="post">
    <div>
        Name <input type="text" name="name" autocomplete="off" required value="{{ actor.name }}">
    </div>

    <div>
        Gender <input type="text" name="gender" autocomplete="off" required value="{{ actor.gender }}">
    </div>

    <div>
        Country <input type="text" name="country" autocomplete="off" required value="{{ actor.country }}">
    </div>

    <input class="btn" type="submit" name="submit" value="Update">
</form>
{% endblock %}