{% extends 'base.html' %}

{% block content %}

{% if current_user.is_authenticated %}

<a class="btn" href="{{ url_for('analyse') }}">Analyse Movie Boxes</a>

{% endif %}

<p>{{ movies|length }} Movies</p>


{% if current_user.is_authenticated %}
<form method="post">
    <a class="btn1" href="{{ url_for('input') }}">Input Your New Movie</a>
</form>
{% endif %}

<h3>Movie List</h3>
<form method="get" action="{{ url_for('search') }}" class="search-form">
    <label for="search_query">Search Movie:</label>
    <input type="text" name="search_query" id="search_query" placeholder="Enter movie title">
    <input class="btn" type="submit" value="Search">
</form>


<ul class="movie-list">
    {% for movie in movies %}
    <li>{{ movie.title }}-{{ movie.year }} ({{ movie.country }}) TYPE:{{ movie.type }}
        <span class="float-right">
            {% if current_user.is_authenticated %}
            <a class="btn" href="{{ url_for('analyse_movie', movie_id=movie.id) }}">Analyse</a>
            <a class="btn" href="{{ url_for('predict', movie_id=movie.id) }}">Predict</a>
            <a class="btn" href="{{ url_for('edit', movie_id=movie.id) }}">Edit</a>
            <form class="inline-form" method="post" action="{{	url_for('delete', movie_id=movie.id)	}}">
                <input class="btn" type="submit" name="delete" value="Delete" onclick="return confirm('Are you sure?')">
            </form>
            {% endif %}
            <a class="imdb" href="https://www.imdb.com/find?q={{movie.title }}" target="_blank"
                title="Find this movie on IMDb">
                IMDb</a>
        </span>
    </li>
    {% endfor %}
</ul>
<img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro.gif') }}" title="to~to~ro~">








<p>{{ actors|length }} Actors</p>

{% if current_user.is_authenticated %}
<form method="post">
    <a class="btn1" href="{{ url_for('input_actor') }}">Input Your New Actor</a>
</form>
{% endif %}

<h3>Actor List</h3>
<form method="get" action="{{ url_for('search_actor') }}" class="search-form">
    <label for="search_query">Search Actor:</label>
    <input type="text" name="search_query" id="search_query" placeholder="Enter actor name">
    <input class="btn" type="submit" value="Search">
</form>

<ul class="actor-list">
    {% for actor in actors %}
    <li>{{ actor.name }}-{{ actor.gender }}-{{ actor.country }}
        <span class="float-right">
            {% if current_user.is_authenticated %}
            <a class="btn" href="{{ url_for('edit_actor', actor_id=actor.id) }}">Edit</a>
            <form class="inline-form" method="post" action="{{	url_for('delete_actor', actor_id=actor.id)	}}">
                <input class="btn" type="submit" name="delete" value="Delete" onclick="return confirm('Are you sure?')">
            </form>
            {% endif %}
            <a class="douban" href="https://search.douban.com/movie/subject_search?search_text={{actor.name}}&cat=1002"
                target="_blank" title="Find this actor on douban">
                Douban</a>
        </span>
    </li>
    {% endfor %}
</ul>
<img alt="Fat Caboo" class="caboo" src="{{ url_for('static', filename='images/fat.gif') }}" title="ca~boo~">
{% endblock %}