<!-- search.html -->
{% extends 'base.html' %}
{% block content %}
<h2>查找结果</h2>

{% for (movie, actors, directors) in Result %}
<ul class="movie-list">
    <li>{{ movie.title }}-{{ movie.year }} ({{ movie.country }}) TYPE:{{ movie.type }}
        <span class="float-right">
            {% if current_user.is_authenticated %}
            <a class="btn" href="{{ url_for('edit', movie_id=movie.id) }}">Edit</a>
            <form class="inline-form" method="post" action="{{	url_for('delete', movie_id=movie.id)	}}">
                <input class="btn" type="submit" name="delete" value="Delete" onclick="return confirm('Are you sure?')">
            </form>
            {% endif %}
            <a class="imdb" href="https://www.imdb.com/find?q={{movie.title }}" target="_blank"
                title="Find this movie on IMDb">
                IMDb</a>
        </span>
    </li>

    <h3>主演：</h3>
    {% for actor in actors %}
    <div>
        {{ actor.name }}
    </div>
    {% endfor %}

    <h3>导演：</h3>
    {% for director in directors %}
    <div>
        {{ director.name }}
    </div>
    {% endfor %}
</ul>
{% endfor %}

<img alt="Flowing Caboo" class="liquid" src="{{ url_for('static', filename='images/liquid.gif') }}" title="li~qu~id~">

{% endblock %}