<!-- search.html -->
{% extends 'base.html' %}

{% block content %}

<h2>查找结果</h2>

{% for (actor, actors, directors) in Result %}

<ul class="actor-list">
    <li>{{ actor.name }}-{{ actor.gender }}-{{ actor.country }}
        <span class="float-right">
            {% if current_user.is_authenticated %}
            <a class="btn" href="{{ url_for('edit_actor', actor_id=actor.id) }}">Edit</a>
            <form class="inline-form" method="post" action="{{	url_for('delete_actor', actor_id=actor.id)	}}">
                <input class="btn" type="submit" name="delete" value="Delete" onclick="return confirm('Are you sure?')">
            </form>
            {% endif %}
            <a class="douban" href="https://search.douban.com/movie/subject_search?search_text={{actor.name}}&cat=1002"
                target="_blank" title="Find this actor on douban">
                Douban</a>
        </span>
    </li>

    <h3>主演的电影：</h3>
    {% for actor in actors %}
    <div>
        {{ actor.title }}
    </div>
    {% endfor %}

    <h3>导演的电影：</h3>
    {% for director in directors %}
    <div>
        {{ director.title }}
    </div>
    {% endfor %}
</ul>
{% endfor %}

<img alt="Flowing Caboo" class="liquid" src="{{ url_for('static', filename='images/liquid.gif') }}" title="li~qu~id~">

{% endblock %}